
.slideshow-container {
    position: relative;
    max-width: 100%;
     padding-top: 63px;
  }
  
  .slideshow-container img {
    width: 100%;
    height: 500px;
  }
  
 
  .slideshow-container img {
    animation: fade 3s linear infinite; 
  }
  
  @keyframes span {
     100% { opacity: 0; }
   
    75% { opacity: 1; }
  }
  